
@import "vars";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Kaushan+Script&family=Montserrat:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: $inter;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1395px;
    width: 100%;
    margin: 0 auto;
    // border: 1px solid red;
    padding: 0 25px;
}

.btn {
    @include button;
    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    border: 2px solid $primary;
    color: $primary;
    background: $white;
}

.header {
    background: $white;
    vertical-align: middle;
}

.header__inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    @include menuText;
}

.nav__link:not(:last-child) {
    margin-right: 32px;
}



.promo {
    background-image: url("../images/promo.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    max-height: 720px;
    position: relative;
}

.promo-content {
    max-width: 520px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white;
}

.promo__title {
    @include mainTitle;
    margin: 0;
}

.promo__subtitle {
    @include title;
    margin: 24px 0 39px 0;
}

.btnBook {
    max-width: 127px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.team {
    margin: 45px 0;
}

.team__content {
    max-width: 670px;
    width: 100%;
}

.team__content h3 {
    @include title;
}

.team__content p {
    @include bodyText;
}

.team-slider {
    margin: 0 75px;
}

.team__item {
    max-width: 260px;
    width: 100%;
}
.team__item {
    margin: 60px;
}


// .team__item:not(:last-child) {
//     margin-right: 60px;
// }

.team__footer {
    padding: 13px 19px;
    color: $black;
    background: $primary;
}

.team__title {
    @include subTitle;
}

.team__desc {
    font-weight: 500;
    font-size: 18px;
}




.portfolio__content {
    max-width: 670px;
    width: 100%;
    margin-bottom: 30px;
}

.portfolio__content h3 {
    @include title;
}

.portfolio__content p {
    @include bodyText;
}

.portfolio__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
  }
  
  .portfolio__card {
      width: 25%;
    // flex: 1 0 21%; /* explanation below */
    // height: 100px;
    width: 320px;
    margin-bottom: 30px;
  }

//   .portfolio__card:not(:nth-child(4)) {
//       margin-right: 30px;
//   }
.portfolio__card-footer h3 {
    margin-top: 15px;
    @include subTitle;
    color: $primary;
}

.portfolio__card-footer p {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0;
}






  .portfolio__card-front {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  
  .portfolio__card:hover .portfolio__card-front {
    transform: rotateY(180deg);
    cursor: pointer;
  }

  .portfolio__card-back {
    background: rgba(255, 255, 255, 0.7);
    height: 270px;
    width: 270px;
    backface-visibility: hidden;
    color: $white;
    transform: rotateY(180deg);

    position: absolute;
    top: 26.5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
  }

  .portfolio__card-back p {
      max-width: 210px;
      width: 100%;
      color: $black;
      margin: 0 auto;
    display: block;
  }



.contact {
    position: relative;
    margin-top: 45px;
}

  .contact__content h3 {
    @include title;
  }
  

  .contact__wrapper-bg {
    background: url("../images/test.png"), $lightGray;
    background-repeat: no-repeat;
  }

  .contact__wrapper {
    display: flex;
    justify-content: end;
    margin-top: 30px;

  }

  .contact__wrapper img {
      position: absolute;
      left: 0;
  }

  .contact__form-wrapper {
    max-width: 635px;
    width: 100%;
    background: $lightGray;
    padding: 32px 0 32px 32px;
  }

  .contact__form label {
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: $black;
    margin-bottom: 8px;
  }

  .contact__form input, .contact__form textarea {
    background: $white;
    border: 1px solid #D2D6DA;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 9px 13px;
    outline: none;
  }

  .contact__form textarea {
    height: 105px;
    resize: none;
}

  .contact__form input::placeholder, .contact__form textarea::placeholder {
    color: $input;
    font-size: 16px;
  }

  .form__row {
      display: flex;
      justify-content: end;
      gap: 20px;
      margin-bottom: 20px;
  }
  .form__group {
      display: flex;
      flex-direction: column;
      width: 100%;
  }


  .agreement__wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 45px;
    margin-top: 25px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .switch input {display:none;}
  
  .switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $input;
    -webkit-transition: .4s;
    transition: .4s;
     border-radius: 34px;
  }
  
  .switch-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .switch-slider {
    background-color: $primary;
  }
  
  input:focus + .switch-slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .switch-slider:before {
    transform: translateX(17.5px);
  }

  .switch-agreement {
    font-size: 16px;
    color: $black;
    margin-bottom: 8px;
  }
  
  /*------ ADDED CSS ---------*/
//   .switch-slider:after
//   {
//    color: white;
//    display: block;
//    position: absolute;
//    transform: translate(-50%,-50%);
//    top: 50%;
//    left: 50%;
//    font-size: 10px;
//    font-family: Verdana, sans-serif;
//   }
  
  
  /*--------- END --------*/


  .submit {
      width: 100%;
      border: none;
      outline: none;
      height: 40px;
  }

  .submit:hover {
    cursor: pointer;
  }


  .footer {
    box-shadow: 0px 1px 0px #E5E9F2;
  }
  
  .footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
  }
  .footer__logo {
    display: flex;
    align-items: center;
  }
  .footer__logo span {
    font-size: 12px;
    color: $black;
  }

  .footer__socials a:not(:last-child) {
    margin-right: 30px;
  }
  
